<div style="background-color: #EBEDF0;padding: 15px;">
    <p>您好！</p>
    <div style="background-color: white;padding: 10px">
        <p>您在<a href="https://init.center"> init.center </a> 中进行{{.Type}}操作，您的验证码是 <strong style="color: #409EFF">{{.ECode}}</strong > ，该验证码有效期5分钟，请勿泄露！</p>
        <p>此邮件为系统自动生成，请勿回复！</p>
        <div style="height: 1px;width: 100%;background-color: #999;margin: 65px 0;"></div>
        <strong>init.center</strong>
        <p>{{.Time}}</p>
    </div>
</div>